{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": ["react"],

  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    }
  },

  "rules": {
    "camelcase": "error",
    "curly": "error",
    "eol-last": "error",
    "quotes": ["error", "double", "avoid-escape"],
    "semi": "error",
    "no-alert": "error",
    "no-underscore-dangle": "error",
    "react/display-name": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-sort-props": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-multi-comp": "error",
    "react/no-string-refs": "error",
    "react/no-unknown-property": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/sort-prop-types": "error",
    "react/wrap-multilines": "error",
    "strict": "error",
    "valid-jsdoc": ["error", {"prefer": {"return": "returns"}, "requireParamDescription": false, "requireReturnDescription": false}]
  }
}
